script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"
script src="http://code.highcharts.com/highcharts.js" type="text/javascript"
script src="http://code.highcharts.com/highcharts-more.js" type="text/javascript"
script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"
script src="/js/application.js" type="text/javascript"

h1= "Testing"
#area

javascript:
  $(function () {
        $.getJSON('/data2.json', function(data) {
    
        	$('#area').highcharts({
        	  
    		    chart: {
    		        type: 'area',
    		        zoomType: 'x'
    		    },
    		    
    		    title: {
    		        text: 'Memory Usage'
    		    },
    		
    		    xAxis: {
    		        type: 'datetime',
    		        minRange: 1 * 24 * 3600000
    		    },
    		    
    		    yAxis: {
    		        title: {
    		            text: 'Memory in MB'
    		        }
    		    },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 0,
                    marker: {
                        enabled: false
                    }
                }
            },

    		    
    		    legend: {
    		        enabled: true
    		    },
    		
    		    series: data	
    		});
      });
    });